<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <!--container inside the other to add spacing-->
        <div class= "container">
            <h1>Welcome to YelpCamp!</h1>    
            <p>View our hand-picked CGs from all over de world</p>
            <!--p tag do add spacing-->
            <p>
                <!--BTN-PRIMARY is necessary-->
                <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add a Campground</a>
            </p>
        </div>    
    </header>
    
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(campground){ %>
            <div class="column-md-3 col-sm-6">
                <div class="thumbnail">
                    <!--you should code inside src-->
                    <img src="<%= campground.image%>">
                    <div class="caption">
                        <h4><%= campground.name %></h4>
                    </div>
                    <p>
                        <a href="/campgrounds/<%=campground._id %>" class="btn btn-primary">Info</a>
                    </p>
                </div>    
            </div>
        <% }); %>
    </div>    
</div>

<% include ../partials/footer %>